ORG_MSP_ID=Org1MSP

ADMIN=rcaadmin

ADMIN_PASSWORD=rcaadminpw

LOG_LEVEL=debug

PORT=3000

HLF_CHANNEL_NAME=mychannel

CA_HOST_NAME=org1-ca


APIKEY_FILE="api-keys.sample.json"


# JWT_SECRET=$(uuidgen)
JWT_SECRET=70f8b0ab-c8d9-40d9-a178-99ef693713e4

COMMON_CONNECTION_PROFILE_FILE="test-network-ccp.json"

PEER_ENDPOINT=test-network-org1-peer1-peer.localho.st:443
PEER_HOST_ALIAS=test-network-org1-peer1-peer.localho.st

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100

POSTGRES_SQL_URI=postgresql://odoo:strong_pg_odoo_password@172.19.0.2:5432
POSTGRES_SQL_ADMIN_DB=postgres
POSTGRES_SQL_DB=ambs_fabric_api_db

WALLET_TYPE=file
WALLET_PATH=./wallet-data
